<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<ul class="people_list">
    {{#each users}}
        <li>{{this.name}}</li>
    {{/each}}
</ul>
</body>
</html>
